<?xml version="1.0" encoding="utf-8"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="https://raw.githubusercontent.com/shopware/shopware/5.2/engine/Shopware/Components/Plugin/schema/config.xsd">
    <elements>
        <element type="text">
            <name>firstname</name>
            <label>First name</label>
            <value></value>
        </element>
        <element type="text">
            <name>lastname</name>
            <label>Last name</label>
            <value></value>
        </element>
        <element type="text">
            <name>email</name>
            <label>Email</label>
            <value></value>
        </element>
        <element type="text">
            <name>business</name>
            <label>Business</label>
            <value></value>
        </element>
        <element type="text">
            <name>country</name>
            <label>Country</label>
            <value>NL</value>
        </element>
        <element type="text">
            <name>street_name</name>
            <label>Street name</label>
            <value></value>
        </element>
        <element type="text">
            <name>house_number</name>
            <label>House number</label>
            <value></value>
        </element>
        <element type="text">
            <name>locality</name>
            <label>Locality</label>
            <value></value>
        </element>
        <element type="text">
            <name>zip_code</name>
            <label>Zip code</label>
            <value></value>
        </element>
        <element type="text">
            <name>phone_number</name>
            <label>Phone number</label>
            <value></value>
        </element>
        <element type="text">
            <name>coc_number</name>
            <label>Chamber of commerce number</label>
            <value></value>
        </element>
        <element type="select">
            <name>order_status</name>
            <label>Order status after booking</label>
            <store>Shopware.apps.Base.store.OrderStatus</store>
        </element>
        <element type="select">
            <name>parcelshop_method</name>
            <label>Shipping method for parcelshop locator</label>
            <store>Shopware.apps.Base.store.Dispatch</store>
        </element>
        <element type="select">
            <name>parcelshop_method_enabled</name>
            <label>Enable parcelshop method</label>
            <store>
                <option>
                    <value>1</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                </option>
                <option>
                    <value>0</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                </option>
            </store>
        </element>
        <element type="text">
            <name>base_url</name>
            <label>Root url of the shopware installation, without trailing '/'</label>
            <value></value>
        </element>
        <element type="select">
            <name>testmode</name>
            <label>Testmode</label>
            <store>
                <option>
                    <value>1</value>
                    <label lang="de">Ja</label>
                    <label lang="en">Yes</label>
                </option>
                <option>
                    <value>0</value>
                    <label lang="de">Nein</label>
                    <label lang="en">No</label>
                </option>
            </store>
        </element>
        <element type="text">
            <name>api_key</name>
            <label>Wuunder api key</label>
            <value></value>
        </element>
        <element type="text">
            <name>api_key_prod</name>
            <label>Wuunder Production key</label>
            <value></value>
        </element>
        <element type="text">
            <name>api_key_staging</name>
            <label>Wuunder Staging key</label>
            <value></value>
        </element>
        <!-- Available Carriers -->
        <element type="text">
            <name>available_carriers</name>
            <label>Available parcelshop carriers</label>
            <value>dpd,dhl,postnl</value>
        </element>
        <!-- Filters -->
        <element type="text">
            <name>mapping_1_filter</name>
            <label>Mapping #1: Filter</label>
            <value></value>
        </element>
        <element type="select">
            <name>mapping_1_method</name>
            <label>Mapping #1: Method</label>
            <store>Shopware.apps.Base.store.Dispatch</store>
        </element>
        <element type="text">
            <name>mapping_2_filter</name>
            <label>Mapping #2: Filter</label>
            <value></value>
        </element>
        <element type="select">
            <name>mapping_2_method</name>
            <label>Mapping #2: Method</label>
            <store>Shopware.apps.Base.store.Dispatch</store>
        </element>
        <element type="text">
            <name>mapping_3_filter</name>
            <label>Mapping #3: Filter</label>
            <value></value>
        </element>
        <element type="select">
            <name>mapping_3_method</name>
            <label>Mapping #3: Method</label>
            <store>Shopware.apps.Base.store.Dispatch</store>
        </element>
        <element type="text">
            <name>mapping_4_filter</name>
            <label>Mapping #4: Filter</label>
            <value></value>
        </element>
        <element type="select">
            <name>mapping_4_method</name>
            <label>Mapping #4: Method</label>
            <store>Shopware.apps.Base.store.Dispatch</store>
        </element>
    </elements>
</config>